body,
h1,
h2,
h3,
p {
  color: rgb(58, 58, 58);
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  max-width: 70vw;
  margin: 0 auto;
}

header img {
  height: 50px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(58, 58, 58, 0.7),
    rgba(0, 0, 0, 0)
  );
}

#header {
  background: rgba(255, 255, 255, 0.89);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
}

#nav-bar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 18px;
}

#nav-bar a {
  color: rgb(56, 56, 56);
  text-decoration: none;
  padding: 14px 10px;
}

form {
  margin-top: 100px;
  margin-bottom: 29px;
}

form p {
  margin: 0 auto;
  width: 75%;
}

.email {
  text-align: center;
}

#email {
  border-radius: 2px;
  border: 1px solid rgb(199, 199, 199);
  width: 300px;
  padding: 5px;
}

#form h2 {
  font-size: 2em;
  margin: 15px 0 10px;
}

#email {
  margin: 10px;
}

.mobile-nav {
  display: none;
}

#about i {
  font-size: 45px;
  color: rgb(68, 121, 190);
}

.item {
  display: flex;
  align-items: center;
  margin: 15px;
}

.icon {
  width: 20%;
  text-align: center;
}

.info {
  width: 80%;
  margin: 10px 0;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.video {
  margin: 24px auto;
  z-index: -1;
}

.card {
  margin: 24px 10px;
  max-height: 350px;
  overflow: hidden;
  padding: 15px;
  border-radius: 2px;
  border: 1px solid rgb(90, 90, 90);
  width: 200px;
  background: rgb(255, 255, 255);
}

.card h3 {
  text-align: center;
  font-size: 1.8em;
  padding: 10px;
  margin: 5px 0;
  margin-top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.164);
}

.card img {
  display: block;
  width: auto;
  height: 100px;
  margin: 7px auto;
}

.card p {
  margin-bottom: 18px;
  text-align: center;
  font-size: 1.1em;
}

.card button {
  display: block;
  margin: 7px auto;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  margin-top: 10px;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 2px;
  font-size: 1.3em;
  color: white;
  border: none;
  background: rgb(68, 121, 190);
}

.bikes {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.price {
  margin-bottom: 10px;
  font-size: 2.7em !important;
}

#price {
  min-height: 70vh;
  padding: 15px;
  background: rgba(247, 247, 247, 0.363);
}

#bike-heading {
  text-align: center;
  font-size: 3em;
  margin-bottom: 0;
}

#price-heading {
  text-align: center;
  font-size: 3em;
  margin-bottom: 0;
}

@media (max-width: 900px) {
  #nav-bar ul {
    display: none;
  }

  .mobile-nav {
    font-size: 2em;
    color: rgba(39, 39, 39, 0.801);
    display: inline;
  }

  #header-img {
    display: block;
    margin: 0 auto;
  }
  .container {
    max-width: 82vw;
  }
}

@media (max-width: 1350px) {
  .container {
    max-width: 85vw;
  }
}

@media (max-width: 750px) {
  .item {
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 5px;
  }

  .info {
    width: 85%;
  }

  .info p {
    padding: 9px;
  }
}
